# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Uploads
backend/uploads/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/
*.egg-info/
